#Header {
  width: 100%;
  min-height: 150px;
  max-height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: blue;
  box-shadow: 1px 1px 1px 1px grey;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 70% 30%;
}
#Header .container {
  width: 100%;
  height: 100%;
}
#Header .title-contaier {
  display: flex;
  align-items: center;
  justify-content: center;
}
#Header .nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
#Header .nav-container h3 {
  margin: 0 50px 0 50px;
}

#Landing-Page {
  width: 100%;
  height: 100vh;
  background: red;
}

#HomePage {
  width: inherit;
  min-height: 100vh;
  max-height: 100%;
}
#HomePage .header {
  width: 100%;
  height: 10%;
  background: blue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 31px;
}
#HomePage .comp-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 90vh;
  max-height: auto;
}
#HomePage .comp-container .wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  height: auto;
}
#HomePage .comp-container .wrapper .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
  width: 400px;
  height: 200px;
  border: 1px solid black;
  border-radius: 15px;
  margin: 50px;
  box-shadow: 10px 10px 0 7.5px black;
}
#HomePage .comp-container .wrapper .container:hover {
  box-shadow: 10px 15px 0 10px blue;
  border: 1px solid blue;
}
#HomePage .comp-container .wrapper .container h3 {
  color: blue;
  font-size: 2em;
}
#HomePage .comp-container .wrapper .container button {
  padding: 5px;
  font-size: 17px;
  box-shadow: 1px 1px 1px blue;
  background: none;
  border: 1px blue solid;
  padding: 10px;
  border-radius: 5px;
}
#HomePage .comp-container .wrapper .container button a {
  text-decoration: none;
  color: blue;
}
#HomePage .comp-container .wrapper .container button:hover {
  background: blue;
  color: white;
  border: none;
}
#HomePage .comp-container .wrapper .container button:hover a {
  text-decoration: none;
  color: white;
}

#Layout-Home {
  width: 100%;
  min-height: 100vh;
  max-height: auto;
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: auto;
}
#Layout-Home .side-bar-container {
  max-width: 100%;
  min-width: 200px;
}

#SideBar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 2px 1px grey;
}
#SideBar .body {
  height: 95%;
  width: 90%;
  background: white;
  color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#SideBar .body .title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: blue;
}
#SideBar .body .options-container {
  margin-top: 50px;
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#SideBar .body .options-container .option-wrapper {
  margin: 20px;
}
#SideBar .body .options-container .option-wrapper a {
  text-decoration: none;
}
#SideBar .body .options-container .option-wrapper a h3 {
  color: blue;
}
#SideBar .body .options-container .option-wrapper .box-wrapper {
  width: auto;
  height: auto;
  padding: 10px;
}
#SideBar .body .options-container .option-wrapper .box-wrapper:hover {
  text-decoration: underline;
}

#Handgun {
  width: 100%;
  min-height: 90vh;
  max-height: auto;
}
#Handgun .title-container {
  width: 100%;
  height: 10vh;
  background: blue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.test {
  align-items: center;
}

#Add-Handgun {
  width: 100%;
  min-height: 100vh;
  max-height: auto;
}
#Add-Handgun .title-container {
  width: 100%;
  height: 10vh;
  background: blue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Add-Handgun .form-container {
  width: 100%;
  min-height: 90vh;
  max-height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Add-Handgun .form-container .form-wrapper {
  height: auto;
  margin: 20px 20px;
  width: 80%;
  border-radius: 5px;
  color: blue;
  box-shadow: 1px 1px 10px 1px grey;
}
#Add-Handgun .form-container .form-wrapper .title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
#Add-Handgun .form-container .form-wrapper .item-wrapper {
  margin: 20px;
  border: 1px solid blue;
  padding: 20px;
  border-radius: 5px;
}
#Add-Handgun .form-container .form-wrapper .item-wrapper h2 {
  margin: 5px;
}
#Add-Handgun .form-container .form-wrapper .item-wrapper input {
  margin: 5px;
  border: 1px solid blue;
  font-size: 15px;
  padding: 5px;
  width: 90%;
}
#Add-Handgun .form-container .form-wrapper .button-wrapper {
  margin: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Add-Handgun .form-container .form-wrapper .button-wrapper button {
  width: 240px;
  height: 60px;
  font-size: 21px;
  border: 1px solid blue;
  background: none;
  border-radius: 5px;
  color: blue;
}
#Add-Handgun .form-container .form-wrapper .button-wrapper button:hover {
  background: blue;
  color: white;
}

.test {
  align-items: center;
}

* {
  padding: none;
  margin: 0;
}/*# sourceMappingURL=styles.css.map */